# macOS
.DS_Store
.AppleDouble
.LSOverride

# Obsidian
.obsidian/workspace*
.obsidian/cache
.obsidian/*.json.bak

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
*.log
.vscode/
.idea/

# Temp files
*.tmp
*.bak
webapp/
webapp.zip
author-avatar-from-base64.jpg
